body, html{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    background: url('../assets/background.webp');
    background-size: cover;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



    
.calculator {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
    width:50vw;
    height:85vh;
    background-color: rgba(0, 0, 0, 0.8);
    border:3px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    position: relative;
}

.screen{
    flex-basis: 100%;
    background-color: rgba(127, 255, 212, 0.85);
    justify-content: space-around;
    position: absolute;
    top:5%;
    width:90%;
    height:20%;
    border-radius: 10px;
}

.history{
    position: absolute;
    left:5%;
    top:10%;
}

.entire-history{
    margin-bottom:50px;
}
.current-op.active{
    position: absolute;
    right:5%;
    top:70%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    display:block;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    border:none;
    opacity:0.8;
    text-align: right;
}


.current-op{
    display:none;
}
.input{
    display:flex;
    background-color: white;
    position: absolute;
    bottom: 5%;
    width:90%;
    height:65%;
    border-radius: 10px;
}

.keyboard-1{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    
    gap:10px;
    width:100%;
    padding:10px;
}

.keyboard-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap:10px;
    width:100%;
    padding:10px;
}

.keyboard-2 > div{
    background-color: darkgray;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
    border-radius: 10px;
}
.keyboard-1 > div{
    background-color: darkgrey;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.3rem;
    border-radius: 10px;
}


#angle-unit{
    grid-row: span 1;
    grid-column: span 2;
}

#Ans {
    grid-column: span 2;
}

.clock{
    font-size: 30px;
    display:none;
}

.entire-history{
    display:none;
    margin:0;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;

}


.entire-history.active{
    display:block;
    position: absolute;
    top:10px;
    left:0;
    line-height: 1.2rem;
    letter-spacing: 1px;
    width:500px;
    height:100px;
}

.clock.active{
    display:block;
}


.deg{
    color:black;
    padding-right:5px;
}

.rad{
    padding-left:5px;
    color:black;
}

.deg.active, 
.rad.active{
    color:blue;
}

@media only screen and (max-width:768px){
    .calculator{
        width:100vw;
        height:100vh;
        border-radius: 0;
    }

    .screen{
        width:95%;
    }
   .keyboard-1, 
   .keyboard-2{
    gap:4px;
   }

   .keyboard-1 > div{
    width:60px;
    height:60px;
   }

   .keyboard-2 > div{
    width:45px;
    height:60px;

   }

   .keyboard-2{
    margin-left:-12px;
   }

   .input{
    gap:0;
    width:95%;
   }

   #Ans{
    grid-column: span 2;
    width:124px;
   }

   #angle-unit{
    width:124px;
   }
}
